.page-header {
  color: var(--primary-bg-color);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
