.page-header {
  color: var(--primary-bg-color);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  // width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media screen and(min-width: 480px) {
    width: 480px;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
  }
  @media screen and(min-width: 1200px) {
    width: 1200px;
  }
}

.menu-open-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.menu-open-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and(min-width: 768px) {
    width: 768px;
    display: none;
  }
}

.mobile-menu {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 48px 83px 0 40px;
}

.mob-menu-close-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  // bottom: 0;
  border: none;
  background-color: var(--primary-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .mob-menu-close-icon,
  &:focus .mob-menu-close-icon {
    fill: var(--accent-color);
  }
}

.mob-menu-close-icon {
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-nav-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: left;
  letter-spacing: 0.02em;
}
.nav-link-one {
  margin-bottom: 35px;
}
.nav-link-two {
  margin-bottom: 32px;
}
.mob-menu-nav-item:last-child {
  margin-bottom: 302px;
}
.mob-menu-nav-link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.current-link {
  color: var(--accent-color);
}
.mob-menu-social-item {
  color: var(--accent-color);
  position: relative;
  &:not(:last-child) {
    margin-right: auto;
  }
}
.mob-menu-nav-tel {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  color: var(--accent-color);
  letter-spacing: 0.02em;
}
.mob-menu-item-tel {
  margin-bottom: 32px;
}
.mob-menu-item-mail {
  margin-bottom: 64px;
}
.mob-menu-nav-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: #757575;
}
.mob-menu-social-link-list {
  display: flex;
  align-items: center;
}
.mob-menu-social-item-link {
  color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  letter-spacing: 0.02em;
}

.menu-social-item-link::before {
  content: '';
  position: absolute;
  width: 22px;
  background-color: rgba(36, 11, 11, 0.2);
  border: 1px solid rgba(36, 11, 11, 0.2);
  transform: rotate(90deg);
  left: -30%;
  top: 8px;
}
