.logoweb-footer {
  text-decoration: none;
  color: #2196f3;
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logostudiofooter {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 35, 96px;
  letter-spacing: 0.03em;
}
