.section-title {
  font-family: inherit;
  text-align: center;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 50px;
}
